* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "open sans";
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}

.titulo {
    color: blueviolet;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}

/* HEADER */
header {
    width: 100%;
    height: 600px;
    background: #8A2387;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(0, 89%, 54%, 0.637), hsla(258, 80%, 56%, 0.637), hsla(302, 60%, 34%, 0.637)), url(img/logo.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    
    background: linear-gradient(to right, hsla(0, 89%, 54%, 0.637), hsla(258, 80%, 56%, 0.637), hsla(302, 60%, 34%, 0.637)), url(img/logo.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:aliceblue;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration:overline;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    font-family: cursive;
    color: #FFF;
    
}

.textos-header h2{
    font-size: 50px;
    font-weight: 300;
    color: rgba(245, 245, 245, 0.644);
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* about us */

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-bout-us{
    width: 48%;
}

.sobre-nosotros .Contenido-textos{
    width: 45%;
}

.Contenido-textos h3{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
    
}

.Contenido-textos h3 span{
   background: rgb(129, 5, 245); 
   color: #FFF;
   border-radius: 50%;
   display: inline-block;
   text-align: center;
   width: 25px;
   height: 25px;
   padding: 2px;
   box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5); 
   margin-right: 5px;
   
}
.Contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    
}

/*Galeria*/

.portafolio{
    background: #FFF;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;  /*se puede o no usar*/
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
width: 100%;
height: 100%;
object-fit: cover;
display: block;
}

.hover-galeria{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hover-galeria img{
    width: 50px;

}

.hover-galeria p{
    color: #FFF;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);  
}

/*Clientes*/

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);

}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #8A2387;
    border-radius: 50%;
    display: block;

}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #FFF;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;

}

/*Our team*/

.about-services{
    background: #FFF;
    padding-bottom: 30px;

}

.servicio-cont{
    display: flex;
    justify-content:  space-between;
    align-items: center;
}

.servicio-ind{
    width:28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;

}

.servicio-ind h3{
    margin: 10px 0;

}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;

}

/*FoOter*/

footer{
    background: #2e2e2ed8;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #FFF;
}


.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #FFF;
    border-bottom:3px solid #fd00f5 ;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: rgb(165, 165, 165);
  
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: darkgray;
}