@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*google font*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	width: 100%;
	overflow-x: hidden;
}

h1 {
	line-height: 1.1;
}

/* Ends basic desing */

.container {
	width: 1280px;
	max-width: 100%;
	padding: 0px 3%;
	margin: 0 auto;
}

.hero {
	width: 100%;
	height: 100vh;
	background: url(../img/laptop.png);
	
	background-blend-mode: color-burn;
	background-repeat: no-repeat;
	background-position: left center;
	background-size:cover;
	position: relative;
}

.hero header {
	padding: 30px 0px;
}

.hero header .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.hero header .logo h2 a {
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	color: #e4e4e4;
}

.hero header nav ul {
	list-style: none;
}

.hero header nav ul li {
	display: inline-block;
}

.hero header nav ul li a {
	display: inline-block;
	text-decoration: none;
	color: #e4e4e4;
	font-size: 14px;
	font-weight: 500;
	margin-left: 20px;
	border: 2px solid transparent;
	line-height: 1;
	padding: 5px 10px;
	border-radius: 3px;
	transition: .3s color;
}

.hero header nav ul li a:hover {
	color: #F9C136;
}

.hero header nav ul li.active a {
	color: #F9C136;
	border: 2px solid #F9C136;
}

.hero .banner {
	margin-top: 120px;
}

.hero .banner .container {	
	padding: 0px 7%;
}

.hero .banner .details {	
	width: 350px;
	margin-bottom: 40px;
	color: #e4e4e4;
}

.hero .banner .details h1 {	
	font-size: 50px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 20px;
}


.hero .banner .email {
    margin-top: 20px;
	margin-right: 30px;
	border-radius: 4px;
	color: #616263;
}

.hero .banner .email {
	display: inline-block;
	transition-duration: .3s;
	transition-property: background-color, color;
}

.hero .banner .email:last-child:hover {
	color: #F9C136;
}

.hero .connect .email a {
	display: inline-block;
	font-size: 18px;
	color: #DF427E;
	margin-right: 15px;
	transition: .3s color;
}

.hero .connect .email a:hover,
.hero .connect .email a:focus {
	color: #AFB2B2;
}
.hero .connect .container h4{
	color: #fff
}
.hero .connect .container {

	margin-top: 120px;
    padding: 0px 0px;
}

.hero .connect .container a {
	display: inline-block;
	font-size: 22px;
	color: #AFB2B2;
	margin-right: 15px;
	transition: .3s color;
}

.hero .connect .container a:hover,
.hero .connect .container a:focus {
	color: #6F6F6F;
}

.hero .connect .container a:nth-child(1):hover {
	color: #467BFB;
}

.hero .connect .container a:nth-child(2):hover {
	color: #467BFB;
}

.hero .connect .container a:nth-child(3):hover {
	color: #467BFB;
}


@media screen and (max-width: 740px) {
	header nav .hamb {
		width: 30px;
		height: auto;
		cursor: pointer;
		position: absolute;
		top: 44px;
		right: 30px;
		z-index: 2;
	}

	header nav .hamb .line {
		display: block;
		width: 100%;
		height: 3px;
		background: #fff;
	}

	header nav .hamb .line:nth-child(2) {
		margin: 5px 0px;
	}

	.hero header nav ul {
		width: 380px;
		background: rgba(28, 28, 28, .95);
		display: block;
		padding: 80px 50px;
		position: absolute;
		right: -380px;
		top: 0px;
		bottom: 0px;
		transition: all .3s ease-out;
	}

	.hero header nav ul li {
		display: block;
	}

	.hero header nav ul li a {
		width: 100%;
		color: #e4e4e4;
		font-size: 18px;
		font-weight: 300;
		margin: 0px 0px 20px;
		border: 2px solid transparent;
		line-height: 1;
		padding: 7px 10px;
	}

	.hero header nav ul.open {
		right: 0px;
	}
	
}